body{
  font-style:arial;

}
.todo-grid{
  display:grid;
  grid-template-columns: 200px 200px 150px;
  column-gap: 10px;
  row-gap:10px;
  align-items:strech;

}
.grid{
  display:grid;
  grid-template-columns: 200px 200px 150px;
  column-gap: 10px;
  row-gap:10px;
  margin-bottom: 10px;
  align-items:center;
}
.todo{
  font-size:15px;

}
.button{
  background-color: lightgreen;
  border-color:darkgreen;
  font-size:15px;
  cursor:pointer;
}
.jsbtn{
  background-color: maroon;
  font-size:15px;
  cursor:pointer;
  border-color:red;
  color:white;
}
